<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eduzap.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:name=".Eduzap"
        tools:targetApi="m">

        <activity
            android:name=".ui.drawer.subject_details.SubjectDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.drawer.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.video_player_pip.VideoPlayer"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="n">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.bottom_navigation.LearnActivity" />
        </activity>
        <activity
            android:name=".ui.bottom_navigation.LearnActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_learn"
            android:parentActivityName=".ui.drawer.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.drawer.MainActivity" />
        </activity>
        <activity
            android:name=".ui.SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenStyle"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Signup_Form"
            android:configChanges="orientation"
            android:label="Register"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.drawer.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation"
            android:label="Log In"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>